body {
  font-family: Roboto;
  display: block;
  /* display: grid;
  grid-template-columns: repeat(5, 100px);
  grid-template-rows: repeat(5, 100px);
  grid-column-gap: 0px;
  grid-row-gap: 0px; */
}

code {
  background-color: #fdf6e3;
  color: #586e75;
}

button{
  background-color: lightgray;
  margin-left: 20px;
  margin-bottom: 20px;
}

h3{
  /* display: inline; */
  /* height: 75px; */
  /* padding-top: 20px; */
  color: #1d88e5;
  text-align: center;
  padding-top: 10px;
}

h5{
  padding-left: 30px;
  display: inline;
}

.fdiv{
  /* display: block; */
  /* padding-top: 20px; */

  text-align: center;
  position: -webkit-sticky;
  position: fixed;
  z-index: 100;
  width:100%;
  background: white;
  border-style: none none solid none;
  border-color: rgb(29,136,229);
  border-collapse: separate;
  display: inline-block;
  height: 90px;
  /* padding-top: 10px */
  /* height: 50px; */
  /* grid-area: 1 / 1 / 2 / 2; */
  /* margin: 50px; */
  /* padding-bottom: 20px; */
  /* margin-bottom: 20px; */
  /* background-color: red; */
}

.sdiv{
  display: block;
  position: relative;
  /* padding-top: 75px; */
  /* grid-area: 2 / 1 / 3 / 2; */
  /* margin-top: 100px; */
  /* overflow-y: hidden; */
  /* margin-top: 100px; */
  padding-top: 90px;
  /* margin-top: 40px; */
  /* margin-top: 50px; */
  z-index: 2;
}

.sdiv.positioned {
  position: absolute;
  /* top:100px;
  left:100px;
  width:800px;
  box-shadow: 0 0 15px #333; */
}

.container {
  overflow-y: auto;
  overflow-x: auto;
  /* height: 200px; */
}

.button{
  transition-duration: .1s;
  border-radius: 4px;
  background-color: rgb(4,169,244,.3);
  /* margin-bottom: 50px; */
  margin-top: 10px;
  margin-left: 25px;
  width: 80px;
  height: 40px;
  font-size: 15px;
  /* display: inline; */
  /* display: none; */
}

.button:hover{
  background-color: rgb(29,136,229,.68); /* Green */
  color: white;
}

* {
  margin: 0;
  padding: 0;
   }
   body {
   font: 14px/1.4 Georgia, Serif;
   }
  #page-wrap {
  margin: 50px;
  }
  p {
 margin: 20px 0;
  }

/* table {

  border-collapse: collapse;
} */


/* thead { */
  /* position: fixed; */
  /* position: sticky; */
  /* width: inherit; */
/* } */

/* b{
  z-index: 1;
  margin-top: 500px;
} */

table {
  display: table;
  border-spacing: 0;
  width:100%;
}
td + td {
  border-left:1px solid #eee;
}
td, th {
  border-bottom:1px solid #eee;
  max-width: 200px;
  /* background: #ddd; */
  /* color: #000; */
  padding: 10px 25px;
}
th {
  height: 20px;
  line-height: 0;
  padding-top: 0;
  padding-bottom: 0;
  color: transparent;
  border: none;
  white-space: nowrap;
}
th div{
  position: absolute;
  background: transparent;
  color: #fff;
  padding: 9px 25px;
  top: 0;
  margin-left: -25px;
  line-height: normal;
  border-left: 1px solid #800;
}
th:first-child div{
  border: none;
}

thead:first-child tr{
  /* height: 100px; */
  /* position: fixed; */
  width: auto;
}




/* table {
	max-width:980px;
	table-layout: fixed;
	margin:auto;
  border-collapse: collapse;
  width: auto;
} */
thead {
	background:#f9f9f9;
	/* display:table; */
	/* width:100%; */
	/* width:calc(100% - 18px); */
  /* max-width: auto; */
}
/* th, td {
	padding:5px 10px;
	border:1px solid #000;
} */

/* tbody tr {
	display:block;
	width:auto;
	table-layout:auto;
} */

th {
  position: sticky;
  background: #1d88e5;
  width: 100%;

  /* max-width: 250px; */

  color: white;

  font-weight: bold;

  /* background-repeat: no-repeat;
      background-position: 3% center; */
}
td, th {
  /* position: sticky; */
  padding: 6px;
  border: 1px solid #ccc;
  text-align: left;
  white-space:nowrap;
  /* width: auto; */
  /* max-width: 250px; */
  /* min-width: 40px;
   */
  /* width: 5px; */
  overflow: scroll;
}

th.des:after {
    content: "\21E9";
  }

  th.aes:after {
    content: "\21E7";
  }

/*
Max width before this PARTICULAR table gets nasty
This query will take effect for any screen smaller than 760px
and also iPads specifically.
*/

/*
@media
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

  /* Force table to not be like tables anymore
  table, thead, tbody, th, td, tr {
    display: block;
  }

  /* Hide table headers (but not display: none;, for accessibility)
  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  tr { border: 1px solid #ccc; }

  td {
    /* Behave  like a "row"
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 50%;
    max-width: 200px;
    overflow-x: scroll;
  }

  td:before {
    /* Now like a table header
    position: absolute;
    /* Top/left values mimic padding
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
  }

  /*
  Label the data

  td:before {
    content: attr(data-th) ": ";
        font-weight: bold;
        width: 6.5em;
        display: inline-block;
  }

}
*/




/* .selected {
background-color: #84a9d7;
color: black;
} */
